<!DOCTYPE html>
<html>
<head>
	<title>Cálculo Visa Vale</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-29691463-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a href="#" class="brand">Cálculo Visa Vale</a>
			<ul class='nav'>
				<li><%= link_to 'Consulta direta', [:inquiries] %></li>
				<% if current_user %>
					<li><%= link_to 'Seus cartões', Card %></li>
					<li><%= link_to "Sair de #{current_user.name}", signout_path, id: "sign_out" %></li>
				<% else %>
					<li><%= link_to "Login com Facebook", "/auth/facebook", id: "sign_in" %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span12">
			<%= yield %>
		</div>
	</div>
</body>
</html>
